body {
  background-color: #1B2634;
}

/* App Flexbox Conatiner and Items */
.app-container {
  font-family: 'Lato', sans-serif;
  color: rgba(83, 210, 250, 0.9); /* #53d2fa */
  display: flex;
}
.view { width: 100%; }
.sidenav, .sidenav.show {
  min-width: 150px;
  height: 100vh;
  background-color: #ddd;
}
.sidenav.hide {
  display: none;
}


.routes { padding: 1em; }

/* Top Navigation */
.topbar {
  display: flex;
  padding: 1em;
  background-color: rgb(50, 66, 88); /* #324258 */
  border-bottom: 1px solid rgb(82, 99, 121); /* #526379 */
  font-size: 18px;
  height: 1em;
}
.logo {
  width: 30%;
}
.nav {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

ul { padding: 0; }
li { list-style-type: none; }
.nav ul {
  display: flex;
  margin: 0;
}
.nav ul > li:not(:last-child) {
  margin-right: 15px; 
}
.nav ul > li > a {
  color: rgb(151, 243, 255, 0.9); /* #97f3ff */
}
.active {
  font-weight: bold;
}

/* Utility Styles */
button {
  cursor: pointer;
  margin-right: 0.25em;
  padding: 0.625em;
  border: none;
  border-radius: 4px;
  background-color: rgba(83, 210, 250, 0.9); /* #53d2fa */
  color: rgb(8, 44, 54);
}
button:hover {
  background-color: rgba(83, 210, 250, 0.5); /* #53d2fa */
  color: rgb(8, 44, 54); /* #082c36 */
}
.hoverable {
  cursor: pointer; cursor: hand;
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  opacity: 1;
}
.hoverable:hover {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -ms-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  opacity: 0.5;
}