.nav {
  padding: 1em;
  background-color: rgb(50, 66, 88); /* #324258 */
  border-bottom: 1px solid rgb(82, 99, 121); /* #526379 */
  font-size: 18px;
  height: 1em;
}
.nav ul {
  display: flex;
  margin: 0;
}
.nav ul > li {
  margin-right: 15px; 
}
.nav ul > li > a {
  color: rgb(151, 243, 255, 0.9); /* #97f3ff */
}
.active {
  font-weight: bold;
}